@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Chakra Petch', sans-serif;
}
/* --------------------- Navigation --------------------- */
nav {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    z-index: 100;
    transition: all 0.4s ease;
    background: #2C2E43;
}
nav.sticky {
    padding: 10px 0;
    background: #393E46;
}
nav .navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo a {
    margin: 0 50px;
    font-size: 35px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 4px;
    color: #fff;
}
nav .navbar .menu {
    display: flex;
}

nav .navbar .menu li {
    padding: 0 20px;
    margin: 0 10px;
}

.navbar .menu li {
    font-size: 22px;
    font-weight: 500;
}

.navbar .menu li a {
    color: #fff;
    letter-spacing: 3px;
    padding: 10px;
    transition: 1s;
    text-decoration: none;
}
.navbar .menu li a:hover {
    border-bottom: 2px solid #fff;
    color: #633d3d;
}

nav .Hambg-btn,
.navbar .cncl-btn {
    position: absolute;
    color: #fff;
    font-size: 30px;
    right: 40px;
    top: 20px;
    display: none;
    cursor: pointer;
}
.navbar .cncl-btn {
    position: absolute;
    top: 50px;       
}/* --------------------- End Navigation --------------------- */

/* --------------------- Background Animation ---------------------*/
canvas{ 
    display: block; 
}
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 200vh;
    background-position: 50% 50%;
    background-color: #555;
    z-index: -100;
}
.count-particles{ 
    background: #000022; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, .count-particles{ 
    -webkit-user-select-: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 
#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
.count-particles{ 
    border-radius: 0 0 3px 3px; 
}
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(190, 190, 190) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
  
.bg3 {
    animation-duration: 3s;
}
.bg1 {
    animation: slide 2s ease-in-out infinite alternate;
    background-image: linear-gradient(20deg, rgb(255, 255, 255) 50%, rgb(190, 190, 190) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg4 {
    animation-direction: alternate-reverse;
    animation-duration: 3s;
}
  
.bg5 {
    animation-duration: 4s;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}/* --------------------- End Background Animation --------------------- */

/* --------------------- Custom Scroll Bar --------------------- */
::-webkit-scrollbar {
    width: 5px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}/* --------------------- End Custom Scroll Bar --------------------- */
.xl-heading {
    font-size: 9rem;
    letter-spacing: 5px;
}
.x-heading {
    font-size: 2.9rem;
}
.heading {
    padding: 150px 0;
}
line {
    border-bottom: 2px solid #2C2E43;
}
.btton {
    color: #000;
    font-size: 1.8vw;
    transform: skew(-20deg);
    padding: 10px 20px;
    width: 30%;
    border: 2px solid #000;
}
.btton:hover {
    background: #716F81;
    color: #fff;
}
.pd-intro {
    padding: 20px;
}
.txt-intro3 {
    font-size: 2vw;

}
.txt {
    color: rgb(182, 126, 126);
}
.pd-intro2 {
    padding: 20px;
}
.font-change {
    font-family: 'Open Sans', sans-serif;
}
.txt-head {
    font-size: 3vw;
}
.txt-pgraph {
    font-size: 2vw;
}
/* --------------------- Collapsible Button --------------------- */
.collapsible {
    background-color: #777;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
}
.active, .collapsible:hover {
    background-color: #555;
}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}  
.active:after {
    content: "\2212";
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #000;
    font-size: 2vw;
    background-color: #fff;
}
.contact-bg {
    background-image: url('../pictures/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.txt-pd {
    padding: 70px;
}
.txt-ctnt {
    font-size: 4vw;
}
.txt-ctnt2 {
    font-size: 1.3vw;
}
.btton-ctnt {
    background: #393E46;
    border: none;
    color: #A19882;
    font-size: 2vw;
    transform: skew(-20deg);
    padding: 10px 30px;
    width: 30%;
    border: 2px solid #000;
}
.btton-ctnt:hover {
    background: #fff;
    color: #393E46;
}
.icon-links {
    font-size: 2rem;
    letter-spacing: 10px;
}
.pad {
    padding-top: 60px;
}
/* --------------------- About Us --------------------- */
.about-intro {
    font-size: 1.8rem;
    padding-top: 100px;
}
.about-team-title {
    font-size: 3vw;
}
.about-mission {
    line-height: 100px;
}
.about-misgraph {
    font-size: 2vw;
}
.card-pad {
    padding-bottom: 50px;
}
.tech-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #716F81;
}
.tech-box i {
    font-size: 40px;
    padding-right: 10px;
    line-height: 1;
}
.tech-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    color: #000;
}
.tech-box:hover {
    background: #888;
}
.about-pgraph {
    text-align: center;
}
/* --------------------- Mobile Responsive --------------------- */
@media only screen and (max-width: 999px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: -44%;
        height: 130vh;
        max-width: 400px;
        width: 80%;
        background-color: gray;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: all 0.5s ease;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        margin: 20px 0;
        font-size: 25px;
        color: white;
    }
    nav .Hambg-btn,
    .navbar .cncl-btn {
        display: block;
    }
    .reveal {
        position: relative;
        transform: translateY(50px);
        transition: all 2s ease;
        opacity: 0;
    }
    .reveal .active {
        transform: translateY(0px);
        opacity: 1;
    }
    .xl-heading {
        font-size: 19vw;
    }
    .x-heading {
        font-size: 6vw;
    }
    .bi-cpu {
        display: none;
    }
    .btton {
        font-size: 3vw;
        width: 50%;
    }
    .txt-intro {
        font-size: 2.9vw;
    }
    .txt-intro2 {
        font-size: 4vw;
    }
    .txt-intro3 {
        font-size: 2.1vw;
    }
    .txt-head {
        font-size: 5vw;
    }
    .txt-pgraph {
        font-size: 4vw;
    }
    .collapsible {
        font-size: 4vw;
    }
    .content {
        font-size: 3.3vw;
    }
    .txt-ctnt {
        font-size: 9.5vw;
    }
    .txt-ctnt2 {
        font-size: 3vw;
    }
    .btton-ctnt {
        font-size: 5vw;
        width: auto;
    }
    .icon-links {
        font-size: 6vw;
    }
    .copy-ctnt {
        font-size: 3vw;
    }
    .about-intro {
        font-size: 3.5vw;
    }
    .about-team-title {
        font-size: 5vw;
    }
    .about-misgraph {
        font-size: 4vw;
    }
}/* --------------------- End Mobile Responsive --------------------- */
